/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/images
/public/mix-manifest.json
/storage/*.key
/vendor
/database/mysql
/database/redis
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
**/.DS_Store
/cypress/screenshots
/cypress/videos