@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

@media only screen and (max-width: 900px) {
  #usernameAvatar {
    margin-top: 0.1em;
  }
}

#gridStyle {
  background-color: #232b2b;
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 0.8em;
  flex-grow: 1;
}

#primaryRow {
  padding-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

#secondaryRow {
  margin-bottom: 2em;
  text-align: center;
}

#content {
  height: 100vh;
}
