@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

#gridStyle {
  background-color: #232b2b;
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 0.8em;
}

#primaryRow {
  padding-top: 3em;
  margin-bottom: 4em;
  text-align: center;
}

#secondaryRow {
  margin-bottom: 2em;
  text-align: center;
}
