@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

#gridStyle {
  background-color: #232b2b;
  color: white;
  font-family: 'Cinzel Decorative', cursive;
}

#primaryRow {
  padding-top: 3em;
  margin-bottom: 4em;
  text-align: center;
}

#secondaryRow {
  margin-bottom: 2em;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

a:visited {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 1em;
  text-underline-offset: 1em;
}
