@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    margin: 0;
}

.SnackbarItem-variantSuccess {
    background-color: #8DA57C !important;
}

.SnackbarItem-variantError {
    background-color: #CC5D56 !important;
}

.SnackbarItem-variantWarning {
    background-color: #CAA93C !important;
}

.SnackbarItem-variantInfo {
    background-color: #86B8F4 !important;
}